In [1]:
import pandas as pd
import numpy as np

In [247]:
df = pd.DataFrame({'Title': ['a', 'b', np.NaN, np.NaN, 'a'], 'Snippet': ['d', np.NaN, 'f', 'g', 'd'], 'Contents': ['c', np.NaN, np.NaN, np.NaN, np.NaN], 'Summary': ['j', np.NaN, 'k', np.NaN, np.NaN]})

In [248]:
df

  Title Snippet Contents Summary
0     a       d        c       j
1     b     NaN      NaN     NaN
2   NaN       f      NaN       k
3   NaN       g      NaN     NaN
4     a       d      NaN     NaN

In [226]:
#df['New_Column'] = []

df['New_Column'] = text = df['Contents']

#df['New_Column'].fillna(df['Title'])

#for content in text:
    
#Series.str.replace(pat, repl, n=-1, case=None, flags=0, regex=True)
    
    #df['New_Column'] = df['Contents']
    
    
    #if df['New_Column'].isna:
    #df['New_Column'].fillna(df['Title'])
        
        
        #df['New_Column'] = df['Contents']
        #df['New_Column'].append(content)
        #print('True')
        #if content is True and df['Title'].isna is False:
        
            #df['New_Column'] = df['Title']
    
   # elif content is True and df['Title'].isna is True:
        
        #df['New_Column'] = df['Snippet']
        
    
        
        
        
        #else:
        
            #if df['Title'].notna:
        
        #print('False')
        
        #if content is True and df['Title'].notna:
            
        #df['New_Column'].append(df['Title'])
                #df['New_Column'] = df['Title']
            
    
        
     #elif text == 'i':
        
        #df['New_Column'].append(df['Snippet'])
        #df['New_Column'] = df['Snippet']
        

        
#df.append(df2)   
        
        
     #   df['New_Column'] = df['Title'] 
        
    #df['New_Column'] = df['Title']

df

  Title Snippet Contents New_Column
0     a       d      NaN        NaN
1     b     NaN        h          h
2   NaN       f      NaN        NaN
3   NaN     NaN      NaN        NaN

In [249]:
df['Cleaned_Text'] = df['Contents']

if df['Summary'] is not np.NaN:
    df['Cleaned_Text'].fillna(df['Summary'], inplace=True)
if df['Title'] is not np.NaN:
    df['Cleaned_Text'].fillna(df['Title'], inplace=True)
if df['Snippet'] is not np.NaN:
    df['Cleaned_Text'].fillna(df['Snippet'], inplace=True)

df

  Title Snippet Contents Summary Cleaned_Text
0     a       d        c       j            c
1     b     NaN      NaN     NaN            b
2   NaN       f      NaN       k            k
3   NaN       g      NaN     NaN            g
4     a       d      NaN     NaN            a