In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.DataFrame({'Title': ['a', 'b', np.NaN], 'Snippet': ['d', np.NaN, 'f'], 'Contents': [np.NaN, 'h', 'i']})

In [29]:
df

  Title Snippet Contents
0     a       d      NaN
1     b     NaN        h
2   NaN       f        i

In [30]:
#for content in df['Contents']:
        
if df['Contents] == h:
            
    df['New_Column'] = df['Contents']
        
elif df['Contents]is np.NaN:
        
    df['New_Column'] = df['Title']

df

SyntaxError: EOL while scanning string literal (<ipython-input-30-4b4a4e0ed069>, line 3)